@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #FEC7D7 !important;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Pagina 1 y Pagina 2*/
.imagenPag1{
    width: 30px;
    margin-top: 300px;
    cursor: pointer;
}
.imagenPag2{
    width: 130px;
    margin-top: 250px;
    cursor: pointer;
}
/*Pagina 3 y Pagina 4*/

.ImagenPerroAcostado, .ImagenMuchacha{
    width: 327px;
    height: 327px;
    margin-top: 10px;
}
.titulopagina3, .titulopagina4{
    text-align: center;
    margin-top: 30px;
    font-family: nunito;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}
.parrafopagina3, .parrafopagina4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    font-family: 'Nunito', sans-serif;
    color: #535353;
    font-weight: 550;
}

.botonpagina3, .botonpagina4{
    margin-top: 20px;
    background-color: #0E172C;
    color: white;
    padding: 8px 100px;
    border: none;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    text-align: center;
}
.botonpagina4{
    margin-top: 5px;
}

/*Pagina 5*/
.titulos h1{
    margin-top: 50px;
    margin-left: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.titulos h2{
    margin-top: 80px;
    margin-left: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
}
.imgmenu{
    padding-left: 0px;
    margin: 58px;
    cursor: pointer;
    text-align: center;
}

.perros{
    border: none;
}

.gatos{
    border: none;
}

.card{
    margin: 2px;
    margin-left: 540px;
    text-align: center;
    display:list-item;
}


/*Pagina 6*/
.card{
    margin-left: 100px;
    background-color: #FEC7D7;
    
}
.card-img-top{
    background-color: #FEC7D7;
    
    border: none;
}
#containercards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: -100px;
}
/*Chat*/
.tituloP{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.chat-list {
    border-radius: 8px;
    
  }
  
  .chat {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    background-color: #fff;
    width: 700px;
    margin: 40px 350px;
    border-radius: 20px;
    position: relative;
  }
  .chat-content{
    background-color: white;
  }
  
  .imagenPerfil{
    width: 80px;
    height: 80px;
    
    margin-right: 12px;
    object-fit: cover;
    background-color: white;
  }
 
  
  .user-name {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .last-message {
    font-size: 14px;
    color: #777;
  }
  .chat-info h3, .chat-info p, .chat-info{
    background-color: white;
  }

  
.time {
    font-size: 12px;
    color: #777;
    position: absolute;
    top: 8px;
    right: 12px;
    background-color: white;
  }
  
  .arrow-icon {
    font-size: 20px; 
    color: black; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    font-weight: bold;
}
.enlacechat{
    text-decoration: none;
    color: black;
}

/*Chat Interno*/
.header{
    background-color: white;
    padding: 20px 300px;
    margin-bottom: 30px;
}
.contenido{
   display: flex;
   justify-content: center;
   align-items: center;
}
.header h3 {
    background-color: white;
    padding: 0 293.5px;
    margin-bottom: -12px;
    text-align: center;
    margin-top: 30px;
}
.header img{
    background-color: white;
    padding: 0 400px;
    margin-bottom: -12px;
}
.flecha img{
    margin-left: -650px;
    background-color: white;
}
.flecha{
    background-color: white;
}

.chat-messages p, .horaTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 2px 0 ;

}
.my-message img{
    margin-left: 700px;
}
.other-message img{
    margin-left: 400px;
}

.chats{
    padding: 20px 0 ;
}

.todoteclado{
    margin-top: 40px;
}
.input{
    margin-bottom: 15px;
    background-color: white;
    width: 500px;
    height: 40px;
    padding: 20px ;
}

.MensajeMio {
    margin-left: 700px;
    background-color: white;
    width: 260px;
    border-radius: 20px;
    padding: 20px 5px;
    font-weight: bold;
    word-wrap: break-word; 
}
.delete-btn{
    margin-left: 890px;
    border: none;
    color: white;
    background-color: #0E172C;
    padding: 5px;
    border-radius: 5px;
}
/*Perfil*/
.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.texto{
    text-align: center;
    margin-top: 20px;
}
.texto h5{
    margin-top: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.formulario input{
    width: 300px;
    height: 40px;
    border-radius: 3px;
    padding: 15px 0;
    font-weight: bold; 
    
}
.formulario label{
    margin-left: -210px;
    font-weight: bold;
}
#guardar{
    color: white;
    background-color: #0E172C;
    border: none;
    padding: 15px 120px;
    border-radius: 40px;
}

  /*Menu*/

  .menubtns{
    margin-top: 10%;
    background-color: white ;
    color: white;
    border: none;
    text-align: center;
    padding: 20px 0;
    
}

.menubtns img{
    background-color: white ;
    color: white;
    border: none;
    margin-right: 50px;
}
  .menubtns2{
    margin-top: 27%;
    background-color: white ;
    color: white;
    border: none;
    text-align: center;
    padding: 20px 0;
    margin-left: 0;
    margin-right: 0;
}

.menubtns2 img{
    background-color: white;
    color: white;
    border: none;
    margin-right: 50px;
}
.menubtns3{
    margin-top: 10%;
    background-color: white ;
    color: white;
    border: none;
    text-align: center;
    padding: 20px 0;
}

.menubtns3 img{
    background-color: white ;
    color: white;
    border: none;
    margin-right: 50px;
}
.menubtns4{
    margin-top: 10%;
    background-color: white ;
    color: white;
    border: none;
    text-align: center;
    padding: 20px 0;
}

.menubtns4 img{
    background-color: white ;
    color: white;
    border: none;
    margin-right: 50px;
}


/*Media Queries*/
    @media only screen and (min-width:400px) and (max-width:800px) {
        .contenedor{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card{
            margin-left: 90px;
            
        }
        #containercards{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            column-gap: 20px;
        }

        /*Pagina 1 y 2*/
        .imagenPag1{
            width: 30px;
            margin-top: 450px;
            cursor: pointer;
        }
        .imagenPag2{
            width: 130px;
            margin-top: 400px;
            cursor: pointer;
        }
        /*Pagina3*/
        .ImagenPerroAcostado, .ImagenMuchacha{
            width: 327px;
            height: 327px;
            margin-top: 130px;
        }

        /*Chats*/
        .header h3 {
            background-color: white;
            padding: 10px 300px;
            margin-bottom: -12px;
            text-align: center;
        }
        .header img{
            background-color: white;
            padding: 10px 400px;
            margin-bottom: -12px;
        }
        .my-message img{
            margin-left: 400px;
        }
        .other-message img{
            margin-left: 100px;
        }
        .header{
            background-color: white;
            padding: 10px 350px;
            margin-bottom: 30px;
        }
        .chat {
            display: flex;
            align-items: center;
            padding: 12px;
            cursor: pointer;
            background-color: #fff;
            width: 700px;
            margin: 40px 40px;
            border-radius: 20px;
            position: relative;
          }
          .chat-content{
            background-color: white;
          }

          /*Chat Interno*/
          .flecha img{
            margin-left: -730px;
            background-color: white;
        }

        /*Menu*/
        .menubtns{
            margin-top: 66%;
        }
        .menubtns2{
            margin-top: 96%;
        }
        .menubtns4{
            margin-top: 30%;
        }

        
}