@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    
}

h2{
    text-align: left;
    font-weight: bold;
    font-size:medium;
}

#templatepet{
    margin-left: 700px;
    
}

h5{
    font-size: smaller;
    text-align: left;
}
.volver{
    transform: translate(400px, -1100px);
}

#favorite{
	transform: translate(1060px,-590px);
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	/*Botones*/
.volver{
    transform: translate(60px, -1100px);
}

#favorite{
	transform: translate(470px,-620px);
}

}



  

