@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    
}

h2{
    text-align: left;
    font-weight: bolder;
    font-size:medium;
}

#templatepet{
    margin-left: 700px;
    
}

h5{
    font-size: smaller;
    text-align: left;
}
.volver{
    transform: translate(300px, -1000px);
}


/*Boton Fvorito*/
.container-buttons-card button {
	border: none;
	background: white;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 15px #00000025;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
}

#added-favorite {
	color: red;
	display: none;
}

#favorite-regular.active {
	background-color: red;
	display: none;
}

#added-favorite.active {
	display: block;
	color: red;
}
  

